.text {
	-fx-font-size: 6.5px;
	-fx-font-family: 'Serif';
}
.stat-text {
	-fx-font-family: 'Serif';
}
.grid-pane {
	-fx-background-color: LightGreen;
}
#manaCostBlank {
	-fx-font-family: 'Serif';
	-fx-font-size: 8px;
}
#name {
	-fx-font-size: 7px;
}
#flavour {
	-fx-font-style: italic;
}
#nameBar {
	-fx-background-color: Pink;
}
#typeBar {
	-fx-background-color: Green;
}
#textBox {
	-fx-background-color: rgba( 200, 200, 200, 0.3 );
}
.pane {
	-fx-background-color: red;
}
#statBox {
	-fx-background-color: Pink;
}
