.text {
	-fx-font-size: 6.5px;
	/*-fx-font: Helvetica;*/
}
#name {
	-fx-font-size: 9px;
}
#flavour {
	-fx-font-style: italic;
}

#typeBar {
	-fx-background-color: Green;
}
#textBox {
	-fx-background-color: rgba( 200, 200, 200, 0.3 );
}
.pane {
	-fx-background-color: red;
}
