.battlefield {
	-fx-border-color: Black;
	-fx-background-color: White;
}
.deck-pane {
	-fx-background-color: Brown;
}
.grave-pane {
	-fx-background-color: DarkSlateGray;
}

/* The pane representing the cards on the hand */
.cards-in-hand-pane {

}

.token-container {
	-fx-border-color: Black;
	-fx-border-width: 3px;
}
.token-container-drawer {
	-fx-background-color: Red;
}
.token-container-handle {
	-fx-background-color: Green;
}
.token {
}

/* When getting a specific card from a collection */
.card-select-pane-outer {
	-fx-border-color: #4D4D4D;
	-fx-border-width: 2px;
	-fx-background-color: DimGray;
}
.card-select-pane-inner {
	-fx-background-color: DimGray;
}

.card {
	-fx-border-color: Black;
	-fx-border-width: 5px;
}
.black {
	-fx-background-color: #202020;
}
.blue {
	-fx-background-color: DarkCyan;
}
.green {
	-fx-background-color: ForestGreen;
}
.red {
	-fx-background-color: FireBrick;
}
.white {
	-fx-background-color: DarkKhaki;
}
.color-less {
	-fx-background-color: #C0C0C0;
}
.back-side {
	-fx-background-color: Brown;
}
#has-focus {
	-fx-border-color: Red;
}
