.battlefield {
	-fx-border-color: Black;
	-fx-background-color: White;
}
.deck-pane {
	-fx-background-color: Brown;
}
.grave-pane {
	-fx-background-color: DarkSlateGray;
}

/* The pane representing the cards on the hand */
.cards-in-hand-pane {

}

/* Token container */
.token-container {
	-fx-border-color: Black;
	-fx-border-width: 3px;
}
.token-container-drawer {
	-fx-background-color: Red;
}
.token-container-handle {
	-fx-background-color: Green;
	-fx-border-width: 5px;
	-fx-border-colour: Black;
}
.card-create-pane {
	-fx-border-width: 2px;
	-fx-border-color: Black;
	-fx-background-color: Blue;
}
.card-create-name-field {
	-fx-background-color: LightBlue;
}
.card-create-info-area .content {
	-fx-background-color: LightBlue;
}



/* When getting a specific card from a collection */
.card-select-pane-outer {
	-fx-border-color: #4D4D4D;
	-fx-border-width: 2px;
	-fx-background-color: DimGray;
}
.card-select-pane-outer > .viewport {
	-fx-background-color: DimGray;
}
.card-select-pane-inner {
	-fx-background-color: DimGray;
}

.chat-container { }

.message-area-scroll-pane {
	/*-fx-background-color: transparent;*/
	-fx-background-color: rgba( 133, 133, 133, 0.5 );
	-fx-border-color: Black;
	-fx-border-width: 2px;
}
.message-area-scroll-pane > .viewport {
	/*-fx-background-color: transparent;*/
	-fx-background-color: rgba( 133, 133, 133, 0.5 );
}

/* chat messages */
.chat-player {}
.chat-oponent {}
.chat-system {
	-fx-text-fill: Grey;
}
.chat-error {
	-fx-text-fill: Red;
}
.chat-other {
	-fx-text-fill: Green;
}


/* Cards, and different colours */
.card {
	-fx-border-color: Black;
	-fx-border-width: 5px;
}
.black {
	-fx-background-color: #202020;
}
.blue {
	-fx-background-color: DarkCyan;
}
.green {
	-fx-background-color: ForestGreen;
}
.red {
	-fx-background-color: FireBrick;
}
.white {
	-fx-background-color: DarkKhaki;
}
.color-less {
	-fx-background-color: #C0C0C0;
}
.back-side {
	-fx-background-color: Brown;
}
#has-focus {
	-fx-border-color: Red;
}
